html {
    background-color: #6d6459;
}

.jqcarousel {
    position: relative;
    width: 700px;
    margin: 100px auto;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

h2 {
    color: #f57253;
    text-align: center;
}

.jqcarousel-wrapper {
    width: 10000px;
    position: relative;
}

.jqcarousel figure {
    display: inline-block;
    width: 200px;
    margin: 0;
    padding: 14px;
    border: 1px solid #9c8568;
}

.jqcarousel figcaption {
    color: #c1c8d2;
    font-style: italic;
    text-align: center;
}

.jqcarousel img {
    width: 100%;
}

.jqcarousel-drivers {
    position: absolute;
    top: 142px;
    width: 700px;
}

.left,
.right {
    display: inline-block;
    padding: 5px;
    background-color: #b7482e;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.left {
    float: left;
}

.right {
    float: right;
}

.boring {
    color: grey;
}
