html {
    background-color: #59616d;
}

h2 {
    margin-top: 50px;
    color: #f57253;
    text-align: center;
}

.jqcarousel {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}

.jqcarousel-container {
    position: relative;
    width: 668px;
    margin: 70px auto;
    overflow: hidden;
}

.jqcarousel-content {
    width: 10000px;
    position: relative;
}

.jqcarousel figure {
    display: inline-block;
    width: 210px;
    margin: 0 5px;
    /*padding: 4px;*/
    /*border: 1px solid #9c8568;*/
}

.jqcarousel figure:first-child {
    margin-left: 0;
}

.jqcarousel figure:last-child {
    margin-right: 0;
}

.jqcarousel figcaption {
    margin-top: 5px;
    color: #c1c8d2;
    font-style: italic;
    text-align: center;
}

.jqcarousel img {
    width: 100%;
}

.jqcarousel-controls {
    position: relative;
    top: -175px;
    margin: 0 auto;
    width: 700px;
}

.left,
.right {
    display: inline-block;
    padding: 5px;
    background-color: #b7482e;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.left {
    position: absolute;
    left: -40px;
}

.right {
    position: absolute;
    right: -40px;
}

.boring {
    color: grey;
}
