<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>jQuery Carousel Plugin and JS templates</title>
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>

        <section class="jqcarousel" id="NY-carousel-container">

            <script type="text/template" id="NY-carousel-template">

                <h2><span class="boring">Boring</span> Christmas jQuery Carousel</h2>

                <!-- carousel visible area -->
                <div class="jqcarousel-frame new-year">

                    <!-- content of carousel -->
                    <div class="jqcarousel-content">

                            <% for ( var i = 0; i < data.length; i++ ) { %>
                                <figure class="new-year__slide">
                                    <img alt="<%= data[i].alt %>" src="img/<%= data[i].filename %>" >
                                    <figcaption><%= data[i].caption %></figcaption>
                                </figure>
                            <% } %>

                    </div> <!-- end of carousel content -->

                </div> <!-- /end of carousel visible area -->

                <div class="jqcarousel-controls years">
                    <span class="left">2016</span>
                    <span class="right">2017</span>
                </div>

            </script>

        </section>

        <!-- second carousel, uses the same plugin -->

        <section class="jqcarousel" id="easter-carousel-container">

                <script type="text/template" id="easter-carousel-template">

                <h2>Easter Carousel</h2>

                <div class="jqcarousel-frame easter">
                    <div class="jqcarousel-content">
                        <% var data = easterCarouselContent.data %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <figure class="easter__slide">
                                <img alt="<%= data[i].alt %>" src="img/<%= data[i].filename %>"></figure>
                        <% } %>
                    </div>

                </div>

                <div class="jqcarousel-controls arrows">
                    <a href="#" class="prev">&lsaquo;</a>
                    <a href="#" class="next">&rsaquo;</a>
                </div>

                <div class="jqcarousel-pagination">
                </div>

            </script>

        </section>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="js/micro-template.js"></script>
        <script src="js/jquery.carousel.js"></script>
        <script src="https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js"></script>
        <script src="js/script.js"></script>

    </body>
</html>
